# Dependencies
node_modules/

# JetBrains IDEs
/.idea

# Next JS and Turbo
.next/
.turbo/
out/

# Production
build/
dist/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ENV Files
.env*

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts